# --- Python & Build Artifacts ---
__pycache__/
*.pyc
*.pyo
*.pyd
build/
dist/
*.egg-info/
.eggs/

# --- JS ---
node_modules/

# --- IDE Settings ---
.vscode/
.idea/

# --- Mac OS junk ---
.DS_Store

# Environnement
venv/
.env

# Tests & Output
.pytest_cache/
output/
*.html
 # N'ignore pas tes squelettes HTML sources
!src/**/assets/*.html
*.svg