name: CI/CD & Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.12"
        cache: 'pip'

    - name: Set up Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20'

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        # Installe ton package en mode éditable + les outils de test
        pip install -e ".[dev]"

    - name: Install Playwright Browsers
      run: playwright install --with-deps chromium

    - name: Run Tests with Coverage
      run: |
        pytest --browser chromium --cov=src --cov-report=term --cov-report=xml:coverage.xml

    - name: Generate Coverage Badge
      if: github.ref == 'refs/heads/main'
      run: |
        coverage-badge -o coverage.svg -f

    - name: Upload JS Coverage Report
      if: always() # On le veut même si les tests échouent
      uses: actions/upload-artifact@v4
      with:
        name: js-coverage-report
        path: output/coverage-js/
        retention-days: 7

    - name: Commit Coverage Badge
      if: github.ref == 'refs/heads/main'
      uses: stefanzweifel/git-auto-commit-action@v5
      with:
        commit_message: "chore: update coverage badges [skip ci]"
        file_pattern: "*.svg"

    - uses: actions/upload-artifact@v4
      if: failure()
      with:
        name: playwright-traces
        path: test-results/